$def with (todos)
<div>

  <form method="post" action="add">
  <input type="submit" name="title" value="Hn" /> &nbsp;
  <input type="submit" name="title" value="Ks" /> &nbsp;
  <input type="submit" name="title" value="Pt" /> &nbsp;

  </form>

  <table class="table" width="250">

    <thead>
      <tr>
        <th> 姓名 </th>
        <th> 打卡時間 </th>
      </tr>
    </thead>  

    <tbody>
      $for todo in todos:
      <tr>
        <th id="t$todo.id"> $todo.title </th>
        <th id="t$todo.id"> $todo.created </th>
      </tr>
    </tbody>

     

  </table>
</div>