$def with (tant)
<div>
    <form method="post" action="add">
      $for stafflist in tant[1]:
      <input type="submit" name="title" value="$stafflist.staffname" /> &nbsp;
    </form>

  <table class="table" width="250">

    <thead>
      <tr>
        <th> 姓名 </th>
        <th> 打卡時間 </th>
      </tr>
    </thead>  

    <tbody>
      $for todo2 in tant[0]:
      <tr>
        <th id="t$todo2.id"> $todo2.title </th>
        <th id="t$todo2.id"> $todo2.created </th>
      </tr>
    </tbody>

     

  </table>
</div>